.box-whatsapp {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width: 100%;
    background: var(--green-libano);
    border-top: 5px solid var(--laranja);
}
.box-whatsapp-icone{
    background: url('../thumbnail/menu/whatsapp.png');
    background-repeat: no-repeat;
    background-size: 46px 46px;
    background-position: center;
    width: 48px;
    height: 48px;
    background-color: white;
}
.box-link{
    color: var(--branco);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
}
.box-link--texto{
    font-weight: 600;
    color: var(--branco);
    margin-left: 10px;
}
.produtos{
    /* margin-top: 24px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    */
    padding: 0.4em 0.8em;
}
.produtos__item{
    flex: 1 0 25%;
    /* Desktop -> margin: 0px 24px 24px 0px; */
    max-width: 315px;
    height: 450px;
}
.produtos_detalhes{
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 6px 10px;
    overflow: hidden;
    height: 100%;
    max-width: 325px;
    /*Desktop margin-right: 8px; */
}
.produtos__imagem{
    display: block;
    margin: 0px auto;
    width: 100%;
    mix-blend-mode: multiply;
}
.produtos__link{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--green-shadow);
    text-decoration: none;
}
.produtos__descricao{
    /* color: rgb(51, 51, 51); */
    color: var(--branco);
    background-color: var(--red-libano);
    /*produtos__descricao font-size: 18px; */
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 700;
    line-height: 23px;
    max-height: 69px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 1em;
}
.produtos__preco{
    /* color: rgb(51, 51, 51); */
    color: var(--branco);
    background-color: var(--red-libano);
    /* Desktop font-size: 26px; */
    font-size: 14px;
    /* Desktop letter-spacing: 2px; */
    letter-spacing: 1px;
    font-weight: 600;

}
.produtos__preco-icon{
    background: var(--green-libano); 
    /*Desktop padding: 10px; */
    padding: 5px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 3px solid var(--branco);
}
.produtos_cart{
    width: 14px;
    height: 14px;
}
.produto__box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--red-libano);
    height: inherit;
    /* padding: 0.4em; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.produto_marketing{
    display: flex; justify-content: space-between; align-items: center;
}
.carrossel__imagem{
    /* provisorio */
    height: 280px;
    object-fit: cover;
}
.ofertas, .destaques{
    margin: 1em 0;
}
.ofertas__patrocinada{
    width: 100vw;
    max-height: 360px;
}
.ofertas__titulo, .carrossel__titulo{
    color: var(--green-libano);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.8em 0;
}
.swiper{
    width: 90%;
}
.swiper-slide img{
    width: 100%;
}
.swiper-button-prev, .swiper-button-next, .swiper-scrollbar{
    display: none;
}
.swiper-pagination{
    position: initial;
    margin: .5em 0;
}
/* Seção do cards */
/* .card{
    padding: 1.5em;
    
} */
.card__imagem{
    width: 160px;
    height: 160px;
    border-radius: 10px;
}
.card__descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.card__botoes{
    display: flex;
    justify-content: space-between;
}
.botoes{
    display: flex;
}
.card{
    background: var(--branco);
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px var(--cinza-shadow);
    padding: 1.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.descricao__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.descricao__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: .5em 0;
}
.descricao__texto{
    font-size: 14px;
    /*temp*/
    text-align: justify;
  margin-right: 10px;
}
.botoes__itens{
    margin: 0 0.5em;
}
.botoes__ancora{
    background-color: var(--red-libano);
    padding: .4em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
    width: 100vw;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
}

.imovel-container{
    position: relative;
    margin: 2em 0;
}

.imovel_kamel{
    width: 100vw;
    max-height: 360px;
}
.imovel_texto{ /*Provisorio*/
    position: absolute;
    top: 10%;
    left: 10%;
    color: brown;
    font-size: 24px;
    font-weight: 700;
}
.card__container--promocao{
    display: none;
}

@media screen and (min-width:1024px) {
    .ofertas, .destaques{
        margin: 4em 0;
    }
    .produtos__imagem{
        height: 640px;
    }
    .carrossel__titulo, .ofertas__titulo{
        font-size: 26px;
        font-weight: 700;
    }
    .swiper-pagination, .ofertas__patrocinada{
        margin: 2em 0 3em 0;
    }
    .swiper{
        width: 90%;
        height: 600px;
        margin-bottom: 10px;
    }
    .swiper-slide img.carrossel__imagem{
        height: 450px;
    }
    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 60%;
    }
    .card{
        width: 60%;
        margin: 2em auto;
    }
    .card__imagem{
        border-radius: 18px;
        max-width: 320px;
        max-height: 300px;
    }
    .descricao__titulo{
        font-size: 26px;
    }
    .descricao__titulo-livro{
        font-size: 20px;
    }
    .descricao__texto{
        font-size: 18px;
        margin-right: 10px;
    }
    .imovel-container{
        display: none;
    }
    /*Tablet*/
    .produtos__link{
        height:500px
    }
    .produto__box {
        height: 320px;
        /* display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 1.5em; */
    }
    .produtos__item{
        height: auto;
    }
    .produtos__descricao {
        font-size: 16px;
    }
    .produtos__preco{
        font-size: 22px;
        font-weight: 700;
    }
    .produtos__preco-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 4px solid var(--branco);
    }
}

@media screen and (min-width: 1528px) {
    .box-whatsapp{
        display: none;
    }
    .carrossel__container, .produtos{
        background-color: var(--green-shadow);
        padding-bottom: 20px;
    }
    .swiper{
        width: 95%;
        height: 600px;
        margin-bottom: 10px;
    }
    .swiper-slide img{
        min-height: 315px;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .card__container{
        width: 50%;
    }
    .card__container--promocao{
        display: block;
    }
    .card__context{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .card__anuncio--texto{
        position: absolute;
        font-size: 45px;
        font-weight: bold;
    }
    .card__container--promocao-titulo{
        font-size: 22px;
        font-weight: 500;
        margin: 0.5em;
    }
    .card__promocao{
        width: 100%;
        height: 350px;
        margin-left: 1.5em;
        background-color: var(--cinza-claro);
    }
    .descricao__titulo{
        font-size: 36px;
        text-align: center;
    }
    .descricao__titulo-livro{
        font-size: 24px;
        text-align: center;
    }
    .descricao__texto{
        font-size: 20px;
    }
    .card__imagem{
        width: 600px;
        height: 320px;
        border-radius: 15px;
        margin-left: 20px;
    }
}