.job__container--teste{
    height: auto;
}
.job__apresentacao{
  display: none;
  width: 100%;
  max-height: 560px;
  margin-bottom: 7em;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.job__apresentacao-imagem{
    height: 460px;
    width: 100%;
    object-fit: cover;
}
.job__apresentacao-container{
    position: absolute;
    width: 70%;
    height: 140px;
    border-radius: 5px;
    /* background-color: var(--branco); */
    background-color: var(--green-dark);
    padding: 1.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 10;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* margin: -25px 0 0 -25px; */
}
.shadow-md{
    --tw-shadow: 0 8px 16px 0 rgba(145, 158, 171, 0.24);
    --tw-shadow-colored: 0 8px 16px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.job__apresentacao-container{
	box-shadow: var(--cor-de-fundo) 0px 5px 15px;
}
.job__apresentacao-question{
	width: 100%; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    margin: 0 20%;
}
.job__apresentacao-question-titulo{
	color: var(--branco);
         font-weight: 500;
}
.job__apresentacao-question-flex{
	margin-top: .5em; 
	display: flex; 
	min-width: 50%;
}
.job__apresentacao-question-flex-input{
	padding: 1em; 
	width: 50%; 
	margin-right: 10px; 
	border-radius: 8px;
}
.job__apresentacao-question-flex-button{
	padding: 1em 2em; 
	border-radius: 8px; 
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        color: var(--branco); 
	background-color: var(--red-libano);
	font-size: 15px;
        font-weight: 600; 
	padding: 1em 3em;
}
.job__apresentacao-question-flex-input::placeholder{
    background-image: url('../thumbnail/menu/pesquisa-vr.svg');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 1em;
}
/* label.selecao-arquivo{
    width: 100%;
} */
#job-capa{
    display: block;
}
.swiper{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.jobs-swiper-wrapper{
    width: 99%; 
    height: auto;
}
.jobs-pagination{
    margin: .2em 0 .5em 0;
}
.pad-10{
    padding: 0.8em;
}
.job__cantato-titulo{
    background-color: var(--red-libano) !important;
}
.job__enviar{
    background-color: var(--green-dark) !important;
}

.job__container{
    padding: 0.5em 0;
    background-color: var(--green-shadow);
    /* margin: 0 0 2em; */
}
.job__titulo{
    color: var(--green-libano);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.8em 0;
}
.job__container--box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.job__container--row{
    width: 98%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 6px 10px;
    padding-bottom: 1em;
    background-color: var(--green-capa);
    margin-bottom: 1em;
    height: auto;
}
.job__vaga{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--cor-de-fundo);
}
.job__vaga--time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .6em 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 1.4px;
    color: var(--fonte-principal);
    width: 100%;
    text-align: center;
    background-color: var(--red-libano);
    color: var(--branco);
}
.job__vaga--chave{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em .8em;
    background-color: var(--red-libano);
    color: var(--branco);
}
.job__vaga--sobre{
    text-align: justify;
    line-height: 1.8;
}
.job__chave--descricao, .job__chave--codigo, .job__vaga--titulo{
    font-size: 16px;
    font-weight: 600;
}
.job__vaga--titulo, .job__vaga--remuneracao, .job__vaga--exigencia, .job__vaga--sobre{
    font-size: 14px;
    margin: 0;
}
.job__falesobrevoce{
    width: 920px;
    height: 620px;
    margin: 3em auto;

}

.job__topicos{
    background: var(--azul-gradiente);  
    text-align: center;
    padding: 1em 0;
}
.topicos_lista{
    display: flex;
    /* quebra linha quando chega no final */
    flex-wrap: wrap;
    justify-content: center;
}
.topicos_item{
    margin: 1em 0.1em;
}
.topicos__link{
    color: var(--branco);
    background-color: var(--red-libano);
    padding: 1em;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.job__card{
    box-shadow: 0px 10px 10px 0px var(--cinza-shadow);
    width: 90%;
    background-color: var(--branco);
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 14px;
}
.job__imagem{
    width: 80px;
  height: 60px;
  border-radius: 50%;
  background-color: beige;
  padding: 1.5rem;
  margin: 0 .5em;
}

@media screen and (min-width:1024) {
    label.selecao-arquivo {
      width: 93%;
    }
    .job__vaga--titulo, .job__vaga--remuneracao, .job__vaga--exigencia, .job__vaga--sobre{
        font-size: 16px;
        margin: 0.4em 0;
    }
}

/* @media screen and (min-width:1528px) { */
@media screen and (min-width:1328px) {
    .job__apresentacao{
        display: block;
    }
    .jobs-swiper-wrapper{
        height: 660px;
    }
    #job-capa{
        display: none;
    }
    .job__container--teste{
        height: 700px;
    }
    .job__container{
        padding: 3em 0;
    }
    .job__titulo{
        color: var(--green-libano);
        background-color: var(--branco);
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        padding: 1em 0 0.8em 0;
    }
    .job__container--box{
        width: 95%;
	flex-direction: row;
    }
    
    .job__container--row{
        width: 50%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 6px 10px;
        padding: 1em;
        background-color: var(--green-capa);
        margin-right: 5px;
        min-height: 720px;
    }
    .job__vaga{
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        justify-content: space-between;
    }
    .job__vaga--time{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
	flex-direction: row;
        padding: 1em 0;
        font-size: 18px;
        font-weight: 600;
    }
    .job__vaga--chave{
        padding: 1em 2.5em;
    }
    .job__vaga--sobre{
        text-align: justify;
        line-height: 1.8;
    }
    .job__chave--descricao, .job__chave--codigo, .job__vaga--titulo{
        font-size: 22px;
        font-weight: 600;
    }
    .job__vaga--titulo, .job__vaga--remuneracao, .job__vaga--exigencia, .job__vaga--sobre{
    font-size: 18px;
	}
    .job__falesobrevoce{
        width: 920px;
        height: 620px;
        margin: 3em auto;
    }
    
    .job__topicos{
        background: var(--azul-gradiente);  
        text-align: center;
        padding: 1em 0;
    }
    .topicos_lista{
        display: flex;
        /* quebra linha quando chega no final */
        flex-wrap: wrap;
        justify-content: center;
    }
    .topicos_item{
        margin: 2em 0.5em;
    }
    .topicos__link{
        color: var(--branco);
        background-color: var(--red-libano);
        padding: 1em;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
    }
    .job__card{
        box-shadow: 0px 10px 10px 0px var(--cinza-shadow);
        width: 50%;
        background-color: var(--branco);
        margin: 0 auto;
        padding: 2em;
        border-radius: 24px;
    }
    .job__imagem{
        width: 180px;
        height: 142px;
        border-radius: 50%;
        background-color: beige;
        padding: 2rem;
        margin: 0 1.5em;
    }   
}