.job__titulo{
    color: var(--green-libano);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.8em 0;
}

.job__container{
    background-color: var(--green-shadow);
}
.job__container--box{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.job__container--row{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 6px 10px;
    padding: 1em;
    background-color: var(--green-capa);
    margin-right: 5px;
    min-height: 620px;
}
.job__vaga{
    width: 630px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.job__vaga--time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 0;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 1.4px;
    color: var(--fonte-principal);
    width: 100%;
    text-align: center;
    background-color: #7c191d5c;
    color: var(--branco);
}
.job__vaga--chave{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.5em;
    background-color: #7c191d5c;
    color: var(--branco);
}
.job__vaga--sobre{
    text-align: justify;
    line-height: 1.8;
}
.job__chave--descricao, .job__chave--codigo, .job__vaga--titulo{
    font-size: 22px;
    font-weight: 600;
}