#oferta-capa{
    display: block;
}
.tabloide__destaques{
    display: none;
}
/* .rotacionar{
    transform: rotate(30deg);
} */
.tabloide{
    margin: 1em 0;
}
.produtos__link:hover{
    border: 10px solid var(--green-libano);
    background: var(--green-capa);
    transition: 5s all;
}
.tabloide__titulo{
    color: var(--green-libano);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.8em 0;
}
.tabloide__container{
    background-color: var(--green-shadow);
    padding-bottom: 20px;
    padding: 5em;
    /* padding: 0.4em 0.8em; */
}
.tabloide__container--padding{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 1em 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.tabloide__row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.tabloide__icon{
    width: 12px;
}
@media screen and (min-width:1024px) {
    .tabloide__container--padding{
        flex-direction: row;
        
    }
    
}

@media screen and (min-width:1328px) {
    #oferta-capa{
        display: none;
    }
    .tabloide__destaques{
        display: flex; margin: 1em 0;
    }
    .tabloide__destaques--imagem{
        border: 1px solid red;
        width: 300px;
    }
    .tabloide__destaques--left{
        width: 40%; 
        height: 280px;
        border-radius: 0 140px 140px 0;  
        background-color: var(--red-libano); 
        color: var(--branco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tabloide__destaques--middle{
        width: 20%; 
        height: 280px;
        border-radius: 50%; 
        background-color: var(--green-dark); 
        color: var(--branco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tabloide__destaques--rigth{
        width: 40%; 
        height: 280px;
        border-radius: 140px 0 0 140px; 
        background-color: var(--red-libano); 
        color: var(--branco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tabloide__destaques--titulo{
        font-family: var(--fonte-secundaria);
        text-transform: uppercase;
        text-align: center;
        font-size: 38px;
    }
    .tabloide__destaques--titulo > a{
        text-decoration: none;
        color: var(--branco);
    }
    .tabloide__destaques--left-titulo, .tabloide__destaques--rigth-titulo{
        font-size: 34px;
        text-shadow: 1.6px 1px #eff7f6ed;
        letter-spacing: -0.05em;
    }
    .tabloide__destaques--left-pesquisa{
        width: 70%;
        background-color: var(--red-capa);
        border: 1px solid var(--branco);
        color: var(--branco);
        border-radius: 24px;
        padding: 0.6em 0.8em;
        font-size: 16px;
        margin-top: 2em;
    }
    .tabloide__destaques--left-pesquisa::placeholder{
        background-image: url('../thumbnail/menu/pesquisa.svg');
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: 1em;
        text-align: center;
        font-size: 16px;
    }
    .tabloide__destaques--rigth-titulo{
        text-align: center;
        font-size: 28px;
        padding-left: 2em;
    }
}